*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
}
#menu-header{
    min-height: 80px;
    background-color: rgba(60, 72, 83, 0.938);
    color: white;
}
#menu-header .menu-title{
    text-align: center;
    padding: 1.5rem;
    text-transform: uppercase;
}
#menu-header nav ul{
    display: flex;
    justify-content: center;
}
#menu-header nav li{
    padding: .7rem;
}
#menu-header nav a{
    font-size: 1.2rem;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
}
#menu-header nav a:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: 2s;
}
@media (max-width:786px){
    #menu-header nav ul{
        flex-direction: column;
    }
    #menu-header{
        text-align: center;
    }
}

.main-appetizers-container{
    width: 90%;
    margin: 0 auto;
}
#appetizers{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 20px;
}
.appetizer{
    background-color: rgba(100, 76, 206, 0.938);
    padding: 1.4rem;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 13px;
    align-items: center;
    color: white;
}
.appetizer .type-price{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
    border-bottom: 2px solid rgb(26, 23, 23);
    padding: .6rem 0;
}
.appetizer h1{
    text-transform: capitalize;
}
.appetizer .type-price h2{
    justify-self: right;
}
.appetizer p{
    margin-top: 1rem;
}