*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgba(7, 8, 9, 0.5);
}
#header-section{
    background-color: rgba(7, 8, 9, 0.938);
    min-height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header-section address{
    padding: 2rem;
}
#header-section address a{
    color: white;
    padding-top: 4rems;
}
#header-section span{
    color: white;
    font-size: 2rem;
}
#header-section #logo a{
    color: white;
}
#header-section #social-media{
    display: flex;
}
#header-section #social-media li{
    padding: 1.5rem;
}
#header-section #social-media a{
    color: white;
    font-size: 2rem;
    font-weight: 400;
}
#section-nav{
    background-color: rgba(0, 0, 0, 0.938);
    color: white;
}
#section-nav nav ul{
    min-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
#section-nav nav li{
    padding: 2rem;
}
#section-nav nav a{
    color: brown;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
#section-nav nav a:hover{
    color: white;
    border-bottom: 1px solid white;
    transition: 2s;
}
@media (max-width:856px){
    #section-nav nav ul{
        flex-direction: column;
    }
    #section-nav nav ul li{
        padding: .5rem
    }
}
@media (max-width: 780px){
    #header-section{
        flex-direction: column;
    }
    #header-section #logo{
        order: -1;
        margin-top: 2rem;
    }
}
#slideshow-wrapper{
    display: block;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#slideshow-wrapper > *{
    position: absolute;
    display:block;
    width:100%;
    text-align: center;
    height: calc(100vh - 100px);
    animation-name: slide;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    overflow:hidden;
}
article:nth-child(1){
    left:0;
    animation-delay:-1s;
    background-image: url('../images/field.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    
}
article:nth-child(2){
    animation-delay:2s;
    background-image: url('../images/vineyards.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    
}
article:nth-child(3){
    animation-delay:5s;
    background-image: url('../images/vineyards.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    
}
article:nth-child(4){
    left:0;
    animation-delay:8s;
    background-image: url('../images/tastes.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    
}

@keyframes slide{
    0%{left:100%;width:100%;}
    5%{left: 0%;}
    25%{ left: 0%}
    30%{ left: -100%; width:100%;}
    35%{left:-100%; width: 0%;}
    100% { left: 100%; width:0%}
}
#slideshow-wrapper .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#slideshow-wrapper .slide h1{
    font-size: 1.7rem;
}
#slideshow-wrapper .slide h1 a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 2rem;
}
#slideshow-wrapper .slide p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: italic;
    padding: 1.2rem;
}
#slideshow-wrapper .slide .link{
    text-align: center;
}
#slideshow-wrapper .slide .view{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 2px solid brown;
    padding: .7rem;
    text-align: center;
}
#slideshow-wrapper .slide .view:hover{
    color: white;
    background-color: rgb(170, 39, 39);
    transition: 2s;
}

#product-container{
    padding: 3rem;
    background-color: rgba(7, 8, 9, 0.938);
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
#product-container .product{
   padding: 2rem;
   background-color: rgba(7, 8, 9, 0.5);
}
#product-container .title{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    background-color: rgb(170, 39, 39);
    padding: .5rem;
    text-transform: capitalize;
}
#product-container .description{
    padding-top: 2rem;
    color: rgba(126, 127, 128, 0.5);
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.4;  
}
#product-container .container-link{
    text-align: center;
    padding-top: 1rem;
}
#product-container .container-link a{
    color: white;
    padding: .5rem;
    font-weight: bold;
    border: 2px solid brown;
    font-family: Arial, Helvetica, sans-serif;
}
#product-container .container-link :hover{
    color: white;
    background-color: rgb(170, 39, 39);
    transition: 2s;
}

#product-container img{
    width: 100%;
}
#news-container{
    padding: 3rem;
    background-color: rgba(7, 8, 9, 0.938);
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
#news-container .news-head{
    grid-column: 1 / -1;
    color: brown;
    text-transform: capitalize;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2.5rem;
}
#news-container .recent-news{
    background-color: rgba(7, 8, 9, 0.5);
}
.recent-news h2{
    padding-left: .7rem;
    padding-top: 1rem;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}
.recent-news .news-description{
    color: rgba(126, 127, 128, 0.5);
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-left: .7rem;
}
.recent-news .news-view-link{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.recent-news .news-view-link h3{
    color: rgba(126, 127, 128, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}
.recent-news .news-view-link a{
    color: white;
    padding: .5rem;
    font-weight: bold;
    border: 2px solid brown;
    font-family: Arial, Helvetica, sans-serif;
}
.recent-news .news-view-link a:hover{
    color: white;
    background-color: rgb(170, 39, 39);
    transition: 2s;
}
#news-container img{
    width: 100%;
}
#events-container{
    padding: 3rem;
    background-color: rgba(7, 8, 9, 0.938);
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
#events-container img{
    width: 100%;
}
#events-container .event-title{
    grid-column: 1 / -1;
    color: brown;
    text-transform: capitalize;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2.5rem;
}
#events-container .events-section{
    background-color: rgba(7, 8, 9, 0.5);
}
.events-section h1{
    padding-left: .7rem;
    padding-top: 1rem;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}
.events-section h3{
    padding: 0.5rem 0 .7rem .3rem;
    color: white;
    font-size: 1.2rem;
}
.events-section .event-description{
    color: rgba(126, 127, 128, 0.5);
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-left: .7rem;
}
.events-section .event-link-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.events-section .event-link-container h2{
    color: rgba(126, 127, 128, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}
.events-section .event-link-container a{
    color: white;
    padding: .5rem;
    font-weight: bold;
    border: 2px solid brown;
    font-family: Arial, Helvetica, sans-serif;
}
.events-section .event-link-container a:hover{
    color: white;
    background-color: rgb(170, 39, 39);
    transition: 2s;
}
#footer-container{
    padding: 3rem;
    background-color: rgba(7, 8, 9, 0.938);
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
#footer-container #book-table{
    background-image: url('../images/table.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#book-table .table{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 4px 5px 8px black;
    
}
#book-table p{
    color: white;
    padding: .6rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
    text-shadow: 4px 5px 8px black;
}
#footer-container .explanation{
    color: rgba(126, 127, 128, 0.5);
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-left: .7rem
}
#book-table a{
    color: white;
    padding: .8rem;
    font-weight: bold;
    border: 2px solid brown;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 4px 5px 8px black;
    text-transform: capitalize;
}
#book-table a:hover{
    color: white;
    background-color: rgb(170, 39, 39);
    transition: 2s;
}
#footer-container .headline{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
}
#open-day table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1.5rem;
}
.about .about-link{
    text-align: center;
    padding-top: 2rem;
}

#open-day td, th {
    border-bottom: 1px solid rgba(126, 127, 128, 0.5);;
    text-align: left;
    padding: .6rem;
    color: rgba(126, 127, 128, 0.5);
}
.about .about-link a{
    color: white;
    padding: .8rem;
    font-weight: bold;
    border: 2px solid brown;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.about .about-link a:hover{
    color: white;
    background-color: rgb(170, 39, 39);
    transition: 2s;
}
#footer-link{
    background-color: rgba(7, 8, 9, 0.938);
}
#footer-link nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-link nav li{
    padding: 2rem;
}
#footer-link nav a{
    color: rgba(232, 239, 247, 0.5);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
#footer-link nav a:hover{
    color: white;
    border-bottom: 1px solid white;
    transition: 2s;
}
@media (max-width:856px){
    #footer-link{
        text-align: center;
    }
    #footer-link nav ul{
        flex-direction: column;
    }
    #footer-link nav ul li{
        padding: .5rem;
    }
}
